* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: grid;
    align-items: center;
    width: 100%;
}

#login_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    min-height: 100vh;
}

@media screen and (max-width: 1000px) {
    #login_main {
        grid-template-columns: 1fr;
    }
}


#login {
    background-color: #fcede9;
    width: 100%;
    padding-top: 50px;
}

#register {
    background-color: #f5c8bd;
    width: 100%;
    padding-top: 50px;
}

.login_form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
}

.login_form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin: 12px;
    background-color: white;
}

.login_button {
    background-color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-right: 4px solid #eea391;
    border-bottom: 4px solid #eea391;
    border-top: none;
    border-left: none;
    text-align: center;
}


#host_banner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    padding: 50px;
    align-items: center;
    background-color: white;
    color: black;
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    #host_banner{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

#enroll_banner {
    padding: 70px 50px 50px 50px;
    align-items: center;
    background-color: #fcede9;
    color: black;
    text-align: center;
    gap: 50px;
}

#logo_wrapper img {
    width: 100%;
}

#alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    z-index: 1000; /* Adjust the z-index to make sure it appears above other content */
    display: none; /* Hide the alert initially */
}

#alert-box {
    background-color: #fff;
    width: 30%;
    height: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#alert {
    margin: 0;
    display: block;
    font-size: 30px;
}


.background-container {
    width: 100%;
}

textarea {
    resize: vertical;
    border: none;
    outline: none;
    background-color: inherit;
}

input {
    border: none;
    outline: none;
    background-color: inherit;
}

.content {
    backdrop-filter: blur(70px) saturate(300%) brightness(110%);
    background: #ffffff10;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.content_grid {
    display: grid;
    place-items: center;
    margin-bottom: 70px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
}

.banner_content {
    background-color: #f5c8bd;
    border-right: 8px solid #eea391;
    border-bottom: 8px solid #eea391;
    position: absolute;
    margin-left: 40px;
    padding: 0 30px 0 30px;
}

#title {
    padding: 20px;
    font-size: 40px;
}

#host {
    padding: 20px;
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .banner {
        justify-content: center;
        text-align: center;
    }
    .banner_content {
        margin-left: 0px;
        padding: 20px;
    }
    #title {
        font-size: 36px;
        padding: 0px;
    }
    #host {
        font-size: 24px;
        padding: 0px;
    }
}

#course_img {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.enroll_banner {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1fr;
    padding: 30px;
    width: 60%;
    margin: 20px 0 10px 0;
    background-color: #fcede9;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 30px;
}

#enroll_details {
    display: flex;
    gap: 40px;
    font-size: 30px;
}

#enroll_button {
    background-color: #f5c8bd;
    cursor: pointer;
    padding: 10px;
    width: 120px;
    animation: pop 0.3s ease-out;
    transform-origin: center;
    font-size: 16px;
    border-right: 4px solid #eea391;
    border-bottom: 4px solid #eea391;
    border-top: none;
    border-left: none;
    text-align: center;
}


.module_banner {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    margin: 10px 0 5px 0;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 4px;
}


.module_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.draft_dates {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
    gap: 20px;
}

.draft_dates input {
    font-size: 24px;
    width: 40%;
}

.draft_details {
    gap: 20px;
}

.module_title {
    font-size: 16px;
}

.module_title input {
    font-size: 16px;
}

.module_description {
    font-size: 14px;
    margin: 20px 0 20px 0;
}

.module_description textarea {
    width: 100%;
    resize: vertical;
    height: 30px;
    border: none;
    outline: none;
}

.module_date {
    font-size: 24px;
}

.extra_details {
    display: none;
    margin-top: 18px;
    overflow: hidden;
    animation: expand 0.7s ease-in-out;
}

@keyframes expand {
    from {
        max-height: 0;
    }
    to {
        max-height: 1500px;
    }
}


.chevron {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.workshop_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #fcede9;
    padding: 15px;
    font-size: 15px;
}

.workshop_subject_input {
    text-align: right;
    font-size: inherit;
}

.workshop_dates {
    display: flex;
    gap: 20px;
}

.workshop_date_input {
    font-weight: bolder;
    font-size: inherit;
}

.details_banner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 30px;
    width: 60%;
    margin: 20px 0 10px 0;
    background-color: #fcede9;;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1000px) {
    .details_banner, .price_banner, .enroll_banner, .module_banner {
        width: 80%;
    }
}

.price_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60%;
    padding: 30px;
    margin: 20px 0 30px 0;
    background-color: #fcede9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav {
    background-color: #202124;
    color: #dfe1e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
}

#logo {
    font-size: 20px;
    text-decoration: none;
}

#user_display {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#user_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

#title_wrapper {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#title_wrapper img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#course_form_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 30px;
    column-gap: 30px;
}

#course_title_details {
    position: absolute;
    display: grid;
    margin: 20px;
    width: 50%;
}

#course_title_details input, #course_title_details div {
    font-size: 30px;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    background-color: white;
}


#course_price {
    font-size: 40px;
    text-align: right;
    border: none;
    outline: none;
}

#image_url {
    font-size: 12px;
    background-color: white;
    width: 100%;
}

/* Removes arrows on number inputs for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    bottom: 10px;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#publish_button {
    background-color: inherit;
    color: #fcede9;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 20px;
}

#main_delete_button {
    background-color: inherit;
    color: #eea391;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#delete_button {
    padding: 0 10px 0 10px;
}

#edit_button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
}

#course_list {
    display: grid;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}

.card {
    display: grid;
    grid-template-columns: 200px 500px;
    width: 700px;
    height: 200px;
    text-align: center;
    background-color: white;
    overflow: hidden;
    border-right: 10px solid #eea391;
    border-bottom: 10px solid #eea391;
    transition: transform 0.3s;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card_image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.card #image_icon {
    opacity: 0;  /* Initially hide the gauge icon */
    transition: opacity 0.3s ease-in-out;
}

.card:hover #image_icon {
    opacity: 0.7;  /* Show the gauge icon on hover */
}

#image_icon {
    font-size: 80px;
    position: absolute;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: pop 0.3s ease-out;
    transform-origin: center;
}

.card_details {
    padding: 12px 0px 16px 18px;
    text-decoration: none;
    color:#202124;
    text-align: left;
    font-size: 16px;
    height: 100%;
}

.new_card_details {
    align-items: center;
    display: flex;
    font-size: 30px;
}

.card_details div {
    margin-top: 10px;
}


.card:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: inherit;
}

#save_status {
    align-items: center;
    color:#fcede9;
    display: flex;
    gap: 6px;
    font-size: 20px;
}

#save_check {
    font-size: 26px;
    margin-left: 6px;
    animation: pop 0.3s ease-out;
    transform-origin: center;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



/* Spinner from: https://loading.io/css/ */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    margin-right: 6px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 4px;
    border: 4px solid #fcede9;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fcede9 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


