* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.banner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: #0b24f5;
}

#title {
    background-color: #202124;
    position: absolute;
    font-size: 70px;
    color: #dfe1e5;
}

#host {
    position: absolute;
    font-size: 40px;
    color: #dfe1e5;
}

#course_img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    overflow: hidden;
}


.module_banner {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    margin: 50px 0 25px 0;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 4px;
}

.module_title, .module_location, .module_description {
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
}

.module_title {
    font-size: 40px;
}

.main_details {
    display: flex;
    justify-content: space-between;
}

.extra_details {
    display: none;
    transition: transform 0.8s ease;
}

.chevron {
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.8s ease;
}

.workshop_banner {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 30px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    padding: 15px 15px 15px 0;
    font-size: 15px;
}

.workshop_wrapper {
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 15px;
    font-size: 15px;
    color: gray;
}

.workshop_subject_input, .workshop_date_input {
    padding: 15px;
    font-size: 14px;
    height: 15px;
    border: none;
    outline: none;
}

.details_banner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 30px;
    width: 60%;
    margin: 50px 0 25px 0;
    background-color: #dfe1e5;
    gap: 30px;
}

nav {
    background-color: #202124;
    color: #dfe1e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
}

#logo {
    font-size: 20px;
    text-decoration: none;
}

#user_display {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#user_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

#title_wrapper {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#title_wrapper img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#course_form_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 30px;
    column-gap: 30px;
}

#course_title_details {
    position: absolute;
    display: grid;
    margin: 20px;
    width: 50%;
}

#course_title_details input, #course_title_details div {
    font-size: 30px;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    background-color: white;
}

#column1 {
    margin-bottom: 50px;
}

#column2 {
    display: grid;
    row-gap: 30px;
}


#course_price {
    font-size: 40px;
    text-align: right;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 40px;
}

#image_url {
    font-size: 8px;
}

/* Removes arrows on number inputs for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#publish_button {
    position: fixed;
    bottom: 20px;
    right: 80px;
    height: 40px;
    width: 120px;
    background-color: lightblue;
    border-radius: 20px;
}

#main_delete_button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: pink;
    border-radius: 20px;
}

#edit_button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
}

.module_wrapper {
    margin-top: 30px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 15px;
    font-size: 20px;
    color: gray;
    display: block;
    gap: 10px;
}





#course_list {
    display: grid;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}

.card {
    display: grid;
    grid-template-columns: 200px 500px;
    width: 700px;
    height: 200px;
    text-align: center;
    background-color: white;
    overflow: hidden;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    transition: transform 0.3s;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card_details {
    padding: 12px 0px 16px 18px;
    text-decoration: none;
    color:#202124;
    text-align: left;
    font-size: 16px;
}

.card_details div {
    margin-top: 10px;
}


.card:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: inherit;
}