{% extends "setcourse/layout.html" %}

{% block body %}

    <div class="banner">
        <div id="title">{{ course.title }}
            <div id="host">{{ course.host.username }}</div>
        </div>
        <img id="course_img", src="{{ course.image }}">
    </div>

    <div class="banner">
        <div class="details_banner">
            <h2>Course Description</h2>
            <div id="description", class="course_details">{{ course.description }}</div>
        </div>
        <div class="details_banner">
            <h2>Good to Know</h2>
            <div id="practical", class="course_details">{{ course.practical }}</div>
        </div>
        <div class="details_banner">
            <div id="price_details", class="course_details">{{ course.price_details }}</div>
            <div id="course_price">{{ course.price }}</div>
        </div>
    </div>
    </div>



    <div class="banner">
        {% for module in modules %}
        <div class="module_banner">
            <div class="main_details">
                <div>
                    <div class="module_title">{{ module.title }}</div>
                    <strong class="module_location">{{ module.start_date|date:'D M d' }} -- {{ module.end_date|date:'D M d, Y' }}</strong>
                    <div class="module_location">{{ module.location }}</div>
                </div>
                <div>
                    <i onclick="show_details(`{{module.id}}`)" id="chevron_{{ module.id }}" class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="extra_details" id="extra_details_{{ module.id }}">
                <div>
                    <div class="module_description">{{ module.description }}</div>
                </div>
            {% for workshop in workshops %}
                {% if workshop.module.id == module.id %}
                    <div id="workshops_${module_id}">
                        <div class="workshop_banner", id="new_workshop_${module_id}">
                            <strong class="workshop_date_input">{{ workshop.start_time|date:'D M d / h.i' }} -- {{ workshop.end_time|date:'h.i' }}</strong>
                            <div class="workshop_subject_input">{{ workshop.subject }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>

<a id="edit_button", href="{% url 'draft' course.id %}"><i class="fa-regular fa-pen-to-square"></i></a>


{% endblock %}