{% extends "setcourse/layout.html" %}

{% block body %}

    <div class="banner">
        <img id="course_img", src="{{ course.image }}">
        <div class="banner_content">
            <div id="title">{{ course.title }}</div>
            <div id="host">{{ course.host.username }}</div>
        </div>
    </div>

    <div class="background-container" style="background: url('{{course.image}}');">
        <div class="content">
            <div class="content_grid">

                <div class="enroll_banner">
                    <h2>Starts: {{ modules.0.start_date|date:'M d Y' }}</h2>
                    <button id="enroll_button" onclick="enroll(`{{course.id}}`)">Enroll</button>
                </div>
                <div class="details_banner">
                    <h2>About</h2>
                    <div id="description", class="course_details">{{ course.description }}</div>
                </div>
                <div class="details_banner">
                    <h2>Good to Know</h2>
                    <div id="practical", class="course_details">{{ course.practical }}</div>
                </div>
                <div class="price_banner">
                    <div id="price_details", class="course_details">{{ course.price_details }}</div>
                    <div id="course_price">{{ course.price }}</div>
                </div>

                {% for module in modules %}
                <div class="module_banner">
                    <div class="module_details">
                        <div class="module_date">{{ module.start_date|date:'D M d' }} -- {{ module.end_date|date:'D M d, Y' }}</div>
                        <div class="chevron">
                            <i onclick="toggle_details(`{{module.id}}`)" id="chevron_{{ module.id }}" class="fa-solid fa-chevron-down" style="transition: transform 0.2s ease-in-out;"></i>
                        </div>
                    </div>
                    <div class="title_location">
                        <div class="module_title">{{ module.title }}{% if module.location %} // {{ module.location }}{% endif %}</div>
                    </div>

                    <div class="extra_details" id="extra_details_{{ module.id }}">
                        <div>
                            <div class="module_description">{{ module.description }}</div>
                        </div>
                        {% for workshop in workshops %}
                            {% if workshop.module.id == module.id %}
                                <div id="workshops_${module_id}">
                                    <div class="workshop_banner", id="new_workshop_${module_id}">
                                        <div class="workshop_date_input">{{ workshop.start_time|date:'D M d / h.i' }} -- {{ workshop.end_time|date:'h.i' }}</div>
                                        <div class="workshop_subject_input">{{ workshop.subject }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
<a id="edit_button", href="{% url 'draft' course.id %}"><i class="fa-regular fa-pen-to-square"></i></a>


{% endblock %}