{% extends "setcourse/layout.html" %}

{% block body %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Loads the messages for the upcoming module
        selected_div = document.querySelector('.selected_module')
        view_messages(selected_div.id)
    });
</script>

<div class="background-container" style="background: url('{{course.image}}');">
    <div class="content">
        <div class="content_grid">
            <!-- Course details -->
            <div id="next_wrapper">
                <div class="module_banner">
                    <a href="{% url 'course' course.id %}">
                        <div class="dashboard_card">
                            <div class="card_image_div">
                                <img src="{{ course.image }}">
                                <i id="image_icon" class="fa-solid fa-circle-info"></i>
                            </div>
                            <div class="card_details">
                                <h1>{{ course.title  }}</h1>
                                <h2>{{ course.host.first_name }}</h2>
                            </div>
                        </div>
                    </a>
                    <!-- Displays the details of the next module -->
                        <div class="module_details">
                            <div class="module_date"> CURRENT: <i class="fa-regular fa-hand-point-right"></i> {{ next_module.start_date|date:'D M d' }} -- {{ next_module.end_date|date:'D M d, Y' }}</div>
                            <div class="chevron">
                                <i onclick="toggle_details(`{{next_module.id}}`)" id="chevron_{{ next_module.id }}" class="fa-solid fa-chevron-down" style="transition: transform 0.2s ease-in-out;"></i>
                            </div>
                        </div>
                        <div class="title_location">
                            <div class="module_title">{{ next_module.title }}{% if next_module.location %} // {{ next_module.location }}{% endif %}</div>
                        </div>

                        <div class="extra_details" id="extra_details_{{ next_module.id }}">
                            <div>
                                <div class="module_description">{{ next_module.description }}</div>
                            </div>
                            {% for workshop in next_workshops %}
                                    <div id="workshops_${module_id}">
                                        <div class="workshop_banner", id="new_workshop_${module_id}">
                                            <div class="workshop_date_input">{{ workshop.start_time|date:'D M d / H.i' }} -- {{ workshop.end_time|date:'H.i' }}</div>
                                            <div class="workshop_subject_input">{{ workshop.subject }}</div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Selection for chat modules -->
<div id="dashboard_wrapper">
    <div id="dashboard_titles">

        {% for module in modules %}
            {% if module == next_module %}
                <div class="selected_module" id="{{ module.id }}" onclick="view_messages(`{{module.id}}`)">{{ module.title }}</div>
            {% else %}
                <div class="dashboard_module" id="{{ module.id }}" onclick="view_messages(`{{module.id}}`)">{{ module.title }}</div>
            {% endif %}
        {% endfor %}


    </div>
    <div id="chat_main">
    <!-- Messages displayed here -->
    </div>
</div>


{% endblock %}