{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}setCourse{% endblock %}</title>

        <link href="{% static 'setcourse/styles.css' %}" rel="stylesheet">
        <link href="{% static 'setcourse/dashboard.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

        {% block script %}
        <script src="https://kit.fontawesome.com/ba3c673c5b.js" crossorigin="anonymous"></script>
        <script src="{% static 'setcourse/setcourse.js' %}"></script>
        <script src="{% static 'setcourse/dashboard.js' %}"></script>
        {% endblock %}
    </head>
    <body>

      <nav>
          <div>
            <a id="user_display", href="{% url 'profile' %}">
              <img id="user_img" src="https://live.staticflickr.com/5520/11007151534_ade9088019_k.jpg">
              <div id="username">{{ user.username }}</div>
            </a>
          </div>
          <div id="logo">
            <a href="{% url 'index' %}">setCourse</a>
          </div>
      </nav>


      <main>
          {% block body %}
          {% endblock %}
      </main>

        {% if user.is_authenticated %}
        {% endif %}
    </body>
</html>