{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}setCourse{% endblock %}</title>
        <link href="{% static 'setcourse/styles.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ba3c673c5b.js" crossorigin="anonymous"></script>
        {% block script %}
        <script src="{% static 'setcourse/setcourse.js' %}"></script>
        {% endblock %}
    </head>
    <body>

      <nav>
        <div id="user_display">
          <img id="user_img" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg">
          <div id="username">{{ user.username }}</div>
        </div>
        <div>
          <a href="{% url 'index' %}" id="logo">setCourse</a>
        </div>
      </nav>


      <main>
          {% block body %}
          {% endblock %}
      </main>

        {% if user.is_authenticated %}
        {% endif %}
    </body>
</html>