{% extends "setcourse/layout.html" %}

{% block body %}

{% if user.is_authenticated %}

        <form action="{% url 'new_course' %}" method="POST">
            {% csrf_token %}
            <div id="course_form_wrapper">
                <div id="column1">
                    <div id="title_wrapper">
                        <div id="course_title_details">
                            <input id="course_id" type="hidden", value="{{ id }}">
                            <input type="text", name="host", placeholder="Hosted by: {{ user.username }}", disabled="True">
                            <input id="title" type="text", name="title", placeholder="Course Title", onblur="save('course', 'title', value)">
                            <input id="image" type="text", name="image", placeholder="Image Url", onblur="save('course', 'image')">
                        </div>
                        <div>
                            <img id="course_img" src="https://live.staticflickr.com/5520/11007151534_ade9088019_k.jpg">
                        </div>
                    </div>

                    <div id="modules">
                        <div class="module_wrapper", id="new_module", onclick="new_module()">+ Module</div>
                    </div>

                </div>
                <div id="column2">
                    <div>
                        <textarea id="description", class="course_details", name="description", placeholder="Course Description", onblur="save('course', 'description')"></textarea>
                        <textarea id="practical", class="course_details", name="practical", placeholder="Practical Details", onblur="save('course', 'practical')"></textarea>
                        <textarea id="price_details", class="course_details", placeholder="Price Details", onblur="save('course', 'price_details')"></textarea>
                        <input id="price", type="number", name="price", placeholder="Course Price", onblur="save('course', 'price')">
                    </div>
                    <div>
                        <input id="publish_button" type="submit" value="Publish">
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endif %}

{% endblock %}