{% extends "setcourse/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    <div class="form_wrapper">

        <form action="{% url 'new_course' %}" method="POST" class="create_form">
            {% csrf_token %}
            <div id="course_title_details">
                <input type="text", name="host", placeholder="Hosted by: {{ user.username }}", disabled="True">
                <input type="text", name="title", placeholder="Course Title">
                <input type="text", name="image", placeholder="Image Url">
            </div>
            <div id="course_practical_details">
                <input type="text", name="description", placeholder="Course Description">
                <input type="text", name="practical", placeholder="Practical Details">
            </div>
            <div id="course_price_details">
                <input type="number", name="price", placeholder="Course Price">
                <input type="text", name="price_details", placeholder="Price Details">
            </div>
            <input class="submit_button" type="submit">
        </form>
    </div>

    <div class="form_wrapper">

        <h2>+ Module</h2>

        <form action="{% url 'new_course' %}" method="POST" class="create_form">
            {% csrf_token %}
            <input type="text", name="module_title", placeholder="Module Title">
            <input type="text", name="module_description", placeholder="Description">
            <input type="text", name="location", placeholder="Location">
            <input class="submit_button" type="submit">
        </form>
    </div>


    <div class="form_wrapper">

        <h2>+ Workshop</h2>

        <form action="{% url 'new_course' %}" method="POST" class="create_form">
            {% csrf_token %}
            <input type="datetime-local", name="time">
            <input type="text", name="subject", placeholder="Subject">
            <input class="submit_button" type="submit">
        </form>
    </div>

{% endif %}

{% endblock %}