{% extends "setcourse/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    <!-- COURSES -->
        <div id="course_list">
            <h2>Your Published Courses</h2>
            {% for course in published_courses %}
            <a href="{% url 'course' course.id %}">
                <div class="card">
                    <img src="{{ course.image }}">
                    <div class="card_details">
                        <h2>{{ course.title  }}</h2>
                        <h3>{{ course.host.username }}</h3>
                        <div>{{ course.description|slice:":100" }}</div>
                    </div>
                </div>
            </a>
            {% empty %}
            <p>You don't have any published courses yet</p>
            {% endfor %}
        </div>

        <div id="course_list">
        <div><h2>Your Drafts</h2></div>
        {% for course in draft_courses %}
        <a href="{% url 'draft' course.id %}">
            <div class="card">
                <img src="{{ course.image }}">
                <div class="card_details">
                    <h2>{{ course.title  }}</h2>
                    <div>{{ course.description }}</div>
                </div>
            </div>
        </a>
        {% endfor %}

        <a href="{% url 'new_course' %}">
            <div class="card">
                <img src="https://t4.ftcdn.net/jpg/01/14/04/65/360_F_114046562_CoMtlfJGu0WhnDHLMz8qOHtHblQBH9QK.jpg">
                <div class="card_details">
                    <h2>Host A New Course</h2>
                </div>
            </div>
        </a>
    </div>
{% endif %}


{% endblock %}