{% extends "setcourse/layout.html" %}

{% block body %}

<div id="login_main">
    <div id="login">
        <h2>log in 👇</h2>
        <form class="login_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input class="login_button" type="submit" value="Login">
            {% if login_message %}<div>{{ login_message }}</div>{% endif %}
        </form>
    </div>
    <div id="register">
        <h2>register 📝</h2>
        <form class="login_form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="first_name" placeholder="School Name (optional)">
                <input type="email" name="email" placeholder="Email Address">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmation" placeholder="Confirm Password">
                <input type="text" name="bio_image" placeholder="URL for profile photo">
                <input class="login_button" type="submit" value="Register">
                {% if register_message %}<div>{{ register_message }}</div>{% endif %}
        </form>
    </div>
</div>

{% endblock %}